@font-face {
    font-family: "Monaspace Neon";
    src: url("/MonaspaceNeon-Regular.woff");
    font-display: swap;
}

body {
    text-align: center;
    background: hsl(200, 4%, 10%);
    font-family: "Monaspace Neon", "Courier New", "Courier", monospace;
    color: #ffffff;
    min-height: 99vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

body#apiBody {
    margin-left: 20%;
    margin-right: 20%;
}

input {
    background: hsl(192, 2%, 40%);
    border: #1b8b77;
    color: #ffffff;
    padding: 20px;
    border-radius: 3px;
}

input::placeholder {
    color: hsl(192, 2%, 70%);
}

a {
    color: #43baf4;
}

img {
    image-rendering: pixelated;
}

button {
    border: none;
    border-radius: 5px;
    padding: 15px;
    color: white;
    cursor: pointer;
    display: inline-block;
    background-color: #43baf4;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
}

footer {
    min-height: 50px;
    margin-top: 10px;
    width: 100%;
}

pre > code {
    text-align: left;
    display: inline-block;
}

.java {
    background-color: chartreuse;
    color: black;
}

.bedrock {
    background-color: black;
}

.response {
    font-size: 20pt;
}

.ip {
    cursor: pointer;
}

.root-api-status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-width: 110ch) {
    .root-api-status {
        flex-direction: column;
    }
}

.api-status-container {
    margin: 2px 1ch;
    padding: 2px 4px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    width: fit-content;
}

.green {
    color: #00ff00;
}

.yellow {
    color: #ffff00;
}

.red {
    color: #ff0000;
}

.blue {
    color: #44aaff;
}
