{% extends "base.hbs" %}
{% block description %}
  mcping.me is a powerful, ad-free Minecraft server tester. Ping Java and
  Bedrock servers to check if they're working. Check if Mojang or XBox services
  are having issues. All for free, without ads.
{% endblock description %}
{% block body %}
  <h1>Minecraft Server Tester</h1>
  <div id="select-ping" class="execute-ping-container">
    {% include "ping-form.hbs" %}
    <div class="small-vspacer"></div>
    <div id="server-status"></div>
    <div class="small-vspacer"></div>
    <div class="user-ip-stack">
      <span id="ip-descriptor" class="ip">Your IP:</span>
      <details id="ip-msg" class="ip">
        <summary class="ip">Click to Reveal</summary>
        <span id="user-ip">(javascript required to load your IP)</span>
      </details>
    </div>
  </div>
  <a href="/api/">API</a>
  <script nonce="{{ nonce }}">
    const ipElement = document.getElementById("user-ip");

    fetch("https://v4.giveip.io/raw")
      .then((rsp) => rsp.text())
      .then((s) => {
        ipElement.innerText = s.trim();
      });

    async function doAutoPing() {
      let windowHash = window.location.hash.substring(1);
      let [actionString, edition, hostname] = windowHash.split(";", 3);
      if (actionString === "ping") {
        if (edition.startsWith("b")) {
          window.location.pathname = `/ping/bedrock/${hostname}`;
        } else if (edition.startsWith("j")) {
          window.location.pathname = `/ping/java/${hostname}`;
        }
      }
    }

    doAutoPing().then(() => {});
  </script>
  <footer>{% include "api-status.hbs" %}</footer>
{% endblock body %}
