{% extends "base.html" %}
{% block description %}
  mcping - ping {{ hostname }}
{% endblock description %}
{% block body %}
  <div class="server-response" id="server-response">
    <div class="server-response-stack">
      <h1>Pinging <code>{{ hostname }}</code></h1>
      <iframe
        class="ping-frame"
        src="{{ root_url }}/internal/ping-frame/{{ edition }}/{{ hostname }}"
      ></iframe>
      {% include "ping-form.html" %}
    </div>
  </div>
  <div class="vspacer"></div>
  {% include "api-status.html" %}
{% endblock %}
