name: PR check
on:
  pull_request:
  workflow_dispatch:
  workflow_call:

jobs:
  cargo-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the proper directory
        uses: actions/checkout@v5

      - name: Install cargo
        uses: dtolnay/rust-toolchain@nightly

      - name: Run tests
        run: cargo test --all

  rust-clippy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the proper directory
        uses: actions/checkout@v5

      - name: Install cargo
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - name: Run clippy
        run: cargo clippy --all -- -D warnings

  rust-fmt:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the proper directory
        uses: actions/checkout@v5

      - name: Install cargo
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt

      - name: Format check
        run: cargo +nightly fmt --check --all

  js-fmt:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the proper directory
        uses: actions/checkout@v5

      - name: Set up node
        uses: actions/setup-node@v6

      - name: Install NPM deps
        run: npm install
        shell: bash

      - name: Check web formatting
        run: npm run prettier-check
